.header {
  background-color: black;
  display: block;
  padding: 18px;
  padding-left: 21rem;
  color: green;
  font-size: 40px;
}

.movie-list {
  padding: 18px;
  display: block;
}

.title {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
