.header {
  background-color: black;
  display: block;
  padding-left: 15px;
  color: yellow;
  height: 100px;
}

.screen {
  width: auto;
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: black;
}

body {
  background-image: url("screen.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.movie-list {
  margin-left: 3%;
  display: block;
  overflow: scroll;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 75px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
