.header {
  background-color: black;
  display: block;
  padding-left: 15px;
  color: yellow;
  height: 100px;
}

button {
  border-radius: 25px;
}
.screen {
  background-color:white;
  position:absolute;
  left:3.1%;
  top:21%;
  width:94.9%;
  height:63%;
  text-align: center;
  margin-left:-5px; /* -1/2 width */
  margin-top:-10px; /* -1/2 height */
  overflow: scroll;
  background-attachment: fixed;
}

body {
  background-image: url("screen.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.movie-list {
  padding: 1%;
  display: block;
  overflow: scroll;
  width: 45%;
  text-align: center;
  margin-left: 28%;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 75px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
